@import "../core/base";

.fetching {
  padding: 1.5rem 0;

  &__relative {
    position: relative;
  }

  &__load {
    width: 2.4rem;
    height: 2.25rem;
    & svg {
        height: 100%;
        width: 100%;
    }
    &_blue {
        & svg path,
        & svg rect {
            fill: #347ac0;
        }
    }
    &_gray {
        svg path,
        svg rect {
            fill: #c4cdcf
        }
    }
    &_white {
        svg path,
        svg rect {
            fill: #fff;
        }
    }
  }

  &__wrap {
    align-items: center;
    background-color: rgba(241, 241, 243, 0.7);
    display: flex;
    justify-content: center;
    padding: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    &_transparent {
        background-color: transparent;
    }
    &_initial {
        position: initial;
    }
  }

  &__button {
    @include flex(center, flex-end);
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__button &__wrap {
    background-color: transparent;
    position: initial;
  }
}
