@import '../core/base';
@import '../pages/Login';

.datePickerWrap {
  position: relative;
  padding-top: 20px;
  &__label {
    position: absolute;
    z-index: 1;
    font-size: 12px;
    font-family: roboto;
    color: rgba(0, 0, 0, 0.3);
    top: 15px;
    font-weight: 400;
  }
}
