@import '../core/base';
@import '../animate-scss/animate';
@import '../animate-scss/_bouncing-entrances/bounceInRight';
@import '../animate-scss/_lightspeed/lightSpeedOut';

.notifications {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 1.5rem;
  list-style: none;
  top: 5rem;
  max-width: 28rem;
  width: 100%;
  z-index: 1002;
@include mobile-lg {
    top: 3rem;
  }
@include mobile-sm {
    right: 0;
    left: 0;
    padding-left: 9rem;
    padding-right: 1rem;
    max-width: 100%;
  }
&__item {
    background-color: #fcfcfc;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.07);
    margin-bottom: 2rem;
    transition: all .2s ease-out 0s;
  @include mobile-sm {
      margin-bottom: 1.5rem;
    }
  &_show {
    @include bounceInRight($duration: .8s);
    }
  &_hide {
    @include lightSpeedOut($duration: .8s);
      opacity: 0.25;
    }
  }
&__content {
    position: relative;
  }
&__wrap {
    display: flex;
    padding: 1rem;
    padding-bottom: 1.5rem;
  }
&__icon {
    margin-right: 1rem;
    font-size: 2.4rem;
    max-width: 2.4rem;
  &_error {
      color: $color-red;
    }
  &_info {
      color: $color-blue;
    }
  &_success {
      color: $color-green;
    }
  }
&__title {
    padding-top: .2rem;
    padding-bottom: .5rem;
    text-transform: none;
    font-size: 1.4rem;
  &_error {
      color: $color-red;
    }
  &_info {
      color: $color-blue;
    }
  &_success {
      color: $color-green;
    }
  }
&__text {
    color: #454545;
    word-break: break-all;
    overflow: auto;
    max-height: 154px;
  }
&__progress {
    border-radius: 0 !important;
    position: absolute !important;
    height: .3rem !important;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    width: 100%;
  &_error > div {
      background-color: $color-red !important;
    }
  &_info > div {
      background-color: $color-blue !important;
    }
  &_success > div {
      background-color: $color-green !important;
    }
  }
&__btn {
    button {
      span {
        padding-left: .5rem !important;
        padding-right: .3rem !important;
        text-transform: none !important;
      }
      i {
        color: #ddd;
        margin-right: .5rem !important;
        margin-top: 0 !important;
      }
    }
  }
&__details {
    padding: 1rem;
    border-top: 1px solid #eee;
  }
&__close {
    position: absolute !important;
    top: -.8rem;
    right: -.8rem;
    color: #999;
    opacity: 0.85;
    i {
      font-size: 1.8rem !important;
    }
  &:hover {
      opacity: 1;
      font-size: 1.8rem;
    }
  }
}
