.checkbox-group {
  @include flex(center, flex-start, row, row wrap);
  @include mobile-md {
    justify-content: space-between;
  }
  &__item {
    width: 25%;
    position: relative;
    @include tablet-md {
      width: 33.333%;
    }
    @include mobile-lg {
      width: 50%;
    }
    @include mobile-md {
      box-shadow: 0 0 .3rem #dedede;
      margin-bottom: 1.5rem;
      padding-left: .8rem;
      width: 48%;
    }
    @include mobile-sm {
      width: 100%;
    }
  }
  &__checkbox {
    padding: 0.7rem 0;
  }
  /* Used for CheckboxButton & RadioButton */
  &__button {
    @include flex(initial, flex-start);
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  /* end CheckboxButton & RadioButton */
}