$grid: 100%;
$grid-size: 12;
$grid-value: $grid / $grid-size;

.grid {
  @include flex(initial, flex-start);
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;

  &__item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    order: 0;
    min-height: .1rem;
    flex-grow: 1;
    @for $i from 1 through $grid-size {
      &_#{ $i } {
        flex-basis: $i * $grid-value;
        max-width: $i * $grid-value;
      }
    }
    @include mobile-lg {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &__ibox {
    @include flex(initial, initial, column);
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    height: 100%;
    padding: 1.5rem;
    position: relative;
    @include mobile-md {
      padding: 1rem;
    }
  }
  
  &__title {
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
    &_between {
      @include flex(center, space-between);
    }
  }

  &_nogutter {
    margin-left: 0;
    margin-right: 0;
  }
  &_nogutter &__item {
    padding-left: 0;
    padding-right: 0;
  }

  // .grid_md 992px
  &_lg &__item {
    @include tablet-md {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  // .grid_md 768px
  &_md &__item {
    @include tablet-sm {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  // .grid_sm 767px
  &_sm &__item {
    @include mobile-lg {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &_full &__item {
    flex-basis: 100%;
    max-width: 100%;
  }

  &_top {
    align-items: flex-start;
  }
  &_center {
    align-items: center;
  }
  &_bottom {
    align-items: flex-end;
  }

  &_black &__ibox {
    background-color: #eee;
    box-shadow: none;
  }
}


