.well {
  @include flex(center, center, row);
  background-color: rgba(241, 241, 243, 0.7);
  color: #999;
  position: relative;
  font-size: 1.3rem;
  height: auto;
  min-height: 7rem;
  padding: 1.5rem;
  &_small {
    min-height: auto;
  }
  &_large {
    min-height: 14rem;
  }
}

.effect {
  &_white {
    & > div > span > div {
      background-color: rgba(255,255,255, 0.3) !important;
    }
  }
}

.reset {
  padding: 0;
  margin: 0;
}

.section {
  position: relative;
  &_gray {
    background-color: #efeded;
    height: 100%;
  }
}

.header-group {
  padding-bottom: 2.5rem;
  &:last-child {
    padding-bottom: 0;
  }
  &_nogutter &__title {
    padding-bottom: 0;
  }
  &__text {
    padding-bottom: 1rem;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.text {
  padding-bottom: 1.5rem;
  &__italic {
    font-style: italic;
  }
  &__light {
    font-weight: 300;
  }
  &__normal {
    font-weight: 400;
  }
  &__medium {
    font-weight: 500;
  }
  &__bold {
    font-weight: 700;
  }
  &__center {
    text-align: center;
    &_mobile {
      @include mobile-lg {
        text-align: center;
      }
    }
  }
  &__left {
    text-align: left;
    &_mobile {
      @include mobile-lg {
        text-align: left;
      }
    }
  }
  &__right {
    text-align: right;
    &_mobile {
      @include mobile-lg {
        text-align: right;
      }
    }
  }
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #eee;
  padding: 0;
  margin: .5rem 0 1.5rem;
  background: transparent;
  width: 100%;
}

.relative {
  position: relative;
}
