@import '../core/base';
@import '../mixins/flexbox';
@import '../modules/logo';

@import '../animate-scss/animate';
@import '../animate-scss/_fading-entrances/fadeInDown';
@import '../animate-scss/_fading-exits/fadeOutUp';

/* left-panel - aside */
.aside {
  display: table-cell;
  height: 100%;
  &__global,
  &__wrap {
    background-color: #212426;
    min-width: 8rem;
    width: 8rem;
    transition: all .3s ease 0s;
  }
  &__wrap {
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  &__pin {
    position: absolute;
    right: -.5rem;
    top: .7rem;
    cursor: pointer;
    fill: #607580;
    transition: all .4s ease .12s !important;
    & svg {
      height: 1.7rem;
      width: 1.4rem;
    }
    &_fix {
      fill: #f9b239;
      transform: rotate(-30deg);
    }
  }
  &__hideitem {
    opacity: 0;
    z-index: -1;
    transition: all .78s ease .25s;
  }
  /* opened & :hover menu */
  &:not(:hover),
  &:not(:hover) &__wrap {
    transition: all .89s ease .55s;
    & .accordion__icon {
      opacity: 1;
      z-index: 1;
      transition: opacity 2.2s ease-in-out .25s;
    }
  }
  &:hover,
  &:hover &__wrap {
    @include desktop-xsm {
      min-width: 24rem;
      width: 24rem;
    }
  }
  &:hover &__hideitem {
    @include desktop-xsm {
      opacity: 1;
      z-index: 1;
      transition: all .78s ease .12s;
    }
  }
  &_noanimated,
  &_noanimated &__wrap {
    @include desktop-xsm {
      transition: none !important;
    }
  }
  /* end opened & :hover menu */
}

/* left-panel navigation */
.nav {
  @include flex(flex-start, space-between, column);
  overflow: hidden;
  &__item {
    position: relative;
    width: 100%;
  }
}
.header {
  @include flex(center, space-between, row);
  padding: 0 .2rem 0 1.2rem;
  overflow: hidden;
}
.header,
.footer {
  height: 100%;
  max-height: 8rem;
  @include mobile-xs-h {
    max-height: 5rem;
  }
}
/* end left-panel navigation */

/* left-panel - logo */
.logo {
  @include flex(center, flex-start, row);
  margin-left: 0;
  &__tukan {
    @extend .logo__tukan;
    min-width: 3.6rem;
    height: 3.65rem;
    width: 3.6rem;
    margin: 0 1rem 0 0;
  }
  &__slogan {
    color: #fff;
    font-size: 1.6rem;
    width: initial;
    height: initial;
    font-weight: 600;
    white-space: nowrap;
    @include mobile-lg {
      opacity: 0;
      z-index: -1;
    }
  }
}
/* end left-panel - logo */

/* left-panel - menu */
.menu {
  @include flex(flex-start, flex-start, column);
  position: relative;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 121%;
  &__wrap {
    height: 100%;
    width: 100%;
    max-width: 24rem;
  }

  /* end MenuItem settings */
  &__item {
    height: 100%;
    width: 100%;
    & div, & div > div {
      height: 100%;
    }
    & div > div {
      padding-left: 1rem !important;
    }
    /* focus effect */
    & > div > span > div {
      background-color: rgba(255,255,255, 0.3) !important;
    }
    /* end */
    &:hover {
      background-color: transparent !important;
    }
  }
  /* end MenuItem settings */

  &__link {
    @include flex(center, stretch);
    cursor: pointer;
    max-height: 6.2rem;
    position: relative;
    overflow: hidden;
    transition: color .32s ease-out .015s;
    text-decoration: none;
    width: 100%;
    & > div {
      height: 100%;
      width: 100%;
    }
    &::after {
      border-top: .5rem solid transparent;
      border-bottom: .5rem solid transparent;
      border-right: .5rem solid #fff;
      content: "";
      display: block;
      position: absolute;
      height: 0;
      right: -0.5rem;
      top: 50%;
      transform: translateY(-50%);
      transition: all .2s ease-out;
      width: 0;
    }
    &:hover::after,
    &:focus::after {
      right: 0;
    }
  }
  &__icon {
    display: inline-block;
    margin-right: 2.5rem;
    color: #607580;
    fill: #607580;
    transition: color .32s ease-out .015s;
    font-size: 2.4rem;
    min-width: 2.4rem;
  }
  &__slogan {
    font-weight: 600;
    color: #607580;
    font-size: 1.3rem;
    overflow: hidden;
    white-space: nowrap;
    padding: .1rem 0;
  }
  &__gtour {
    @include flex(center, flex-start);
    padding: 0 .5rem;
    width: 100%;
  }
  &__logout {
    background-color: transparent;
    border: 0;
    padding: 0;
  }
  &__logout &__icon,
  &__logout &__slogan {
    color: $color-red !important;
    &:hover {
      color: $color-red-hover !important;
    }
  }
  &__item:hover &__slogan,
  &__item:hover &__icon,
  &__link_active &__slogan,
  &__link_active &__icon {
    color: #fff !important;
    fill: #fff !important;
  }
}
/* left-panel - menu */

.accordion {
  @extend .menu__link;
  &::after {
    content: none;
  }
  &__hidden {
    overflow: hidden;
  }
  &__wrap {
    background-color: #25282a;
    overflow: hidden;
    max-height: 12.4rem;
    transition: all 0.23s ease-out 0.05s;
    height: 0;
    width: 100%;
    &_show {
      @include fadeInDown($duration: 0.8s);
    }
    &_hide {
      @include fadeOutUp($duration: 0.8s);
    }
    &:not(&_open) {
      transition: all 0.4s ease-out 0.1s;
    }
    &_open {
      // margin-top: 0;
      height: 12.4rem;
    } 
    /* end settings height dropsown wrap */
  }
  &__item {
    @extend .menu__link;
    padding: 0;
    max-height: inherit;
    flex-direction: column;
    &::after {
      content: none;
    }
    &:hover {
      color: inherit;
    }
  }
  &__link {
    position: relative;
    padding-left: 3rem;
    &:last-child::before {
      height: 50%;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 3rem;
      border-left: .1rem solid #607580;
      height: 100%;
      top: 0;
    }
  }
  &__gtour {
    position: relative;
    padding-left: .3rem;
    &::before {
      border-top: .1rem solid #607580;
      content: '';
      display: block;
      position: absolute;
      left: -1.5rem;
      margin-top: -.1rem;
      top: 50%;
      width: 1rem;
    }
  }
  &__icon {
    font-size: 2rem;
    transition: opacity .78s ease 5s;
    @include desktop-xsm {
      position: absolute;
      opacity: 0;
      z-index: -1;
      transition: all .78s ease .25s;
    }
  }
}

.userName {
  color: #607580;
  display: block;
  font-size: 1.2rem;
  padding-top: .2rem;
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* global styles for left menu */
:global .leftMenu_open {
  [class*="aside__global"],
  [class*="aside__wrap"] {
    @include desktop-xsm {
      min-width: 24rem;
      width: 24rem;
    }
  }

  [class*="accordion__icon"] {
    @include desktop-xsm {
      opacity: 0 !important;
      z-index: -1 !important;
      transition: all .78s ease .12s;
    }
  }

  [class*="aside__hideitem"] {
    @include desktop-xsm {
      opacity: 1;
      z-index: 1;
      transition: all .78s ease .12s;
    }
  }

  [class*="accordion__hidden"] [class*="aside__hideitem"] {
    @include tablet-md {
      position: absolute;
    }
  }
}
/* end global styles for left menu */
