﻿@import 'core/fonts';
@import 'core/normalize';
@import 'core/base';
@import 'core/reset';

/*html {
	@include desktop-xlg {
		font-size: 125%;
	}
}*/

/* DevTools for developers */
.devtools {
  display: table;
  width: 100%;
  height: 100%;
  &__item {
    height: 100%;
    display: table-cell;
    position: relative;
    &_routes {
      position: relative;
    }
    &_tools {
      font-size: 120%;
      width: 0;
      transition: all 0.2s ease-out 0s;
      & > div {
        background-color: #1d1f21;
        width: 32rem !important;
        height: 100% !important;
        left: initial !important;
      }
      & > div > div {
        position: absolute !important;
        right: 0 !important;
        left: initial !important;
        width: 100% !important;
        z-index: 10000000 !important;
      }
    }
  }
  &__button {
    background-color: #4485be;
    position: fixed;
    cursor: pointer;
    top: 3rem;
    right: 0;
    border: 0;
    display: block;
    color: #fff;
    border-radius: .2rem 0 0 .2rem;
    padding: .6rem;
    z-index: 999999999;
    width: 7.4rem;
  }
}

:global {
  [class*='devtools__item_open'] {
    width: 32rem;
  }
  [class*='devtools__item_close'] {
    width: 0;
  }
}
/* end DevTools */