@import '../core/base';
@import '../modules/form-group';
@import '../modules/button-group';

.todo-list {
  position: relative;
  &__item {
    margin-bottom: 2rem;
    padding: 1rem;
    &:nth-child(odd) {
      background-color: rgba(0,0,0, 0.035);
    }
  }
  &__link {
    display: inline-block;
    margin-top: 1rem;
  }
  &__title {
    @include flex(center, space-between);
    @include mobile-lg {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__date {
    color: $color-gray-dark;
  }
  &__sort {
    width: auto !important;
  }
}